<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel='shortcut icon' href='favicon.ico'>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div class="container">
  <h1>
    <a href="/">Sample App</a>
    <br>
    <small>Sample application built with sinatra</small>
  </h1>

  <% 4.times do %>
    <div><%= lorem_ipsum %></div>
    <br>
  <% end %>
</div>

<footer class="footer"></footer>

<script type="text/javascript" src="/javascripts/javascript.js"></script>
</body>
</html>
